<IfModule mod_rewrite.c>
   RewriteEngine On

   # Definir a base para o diretório raiz
   RewriteBase /

   # Redirecionar todas as requisições para o public/index.php
   RewriteCond %{REQUEST_URI} !^public/
   RewriteRule ^(.*)$ public/$1 [L]

</IfModule>
